/* Components */
@import "components/header.css";
@import "components/box.css";
@import "components/footer.css";

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

:root {
  /* zakladni barvy */
  --indigo: #311E61;
  --karmin: #E50046;
  --tyrkys: #18B6C3;
  --gold: #FFCC00;
  /* rozsirujici barvy */
  --zelena: #65B32E;
  --svetleZelena: #95C11F;
  --zluta: #F9B000;
  --oranzova: #EC6608;
  --sedoModra: #A6C2C9;
  --svetlaModra: #DAE5E5;
  --modra: #058EC2;
  --tmaveModra: #241E46;
}

h1 {
  text-align: center;
  padding: 28px;
  margin: 0px;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  font-size: 16px;
  padding-top: 58px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(img/tym-vyluka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
}

@media screen and (min-width:768px) {
  .hero {
    min-height: 450px;
  }
}

.hero h1 {
  margin: 0px;
  color: white;
  padding: 30px 20px 40px 20px;
  font-size: 28px;
  text-align: center;
}

.hero h2 {
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px 15px 20px;
  margin: 0px;
}

/* text */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.description {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
@media(min-width: 768px){
  .arrow{
    display: none;
   }
}


.button {
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

section a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid --karmin;
  background-color: var(--karmin);
  color: white;
  border-radius: 5px;
}

section .red-button {
  margin-top: 50px;
}

section article {
  margin: 20px 0px;

}
@media(min-width: 768px){
  section article {
    margin: auto;
  
  }
}


section article p {
  text-align: center;
}

article img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  border: 5px solid var(--svetlaModra)
}

section article img {
  display: block;
  margin: 0 auto;
}

section article img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--indigo);
  position: absolute;
  top: 0;
  left: 0;
}

.bubble {
  position: relative;
  background-color: var(--svetlaModra);
  padding: 8px;
  margin: 20px auto 32px;
  border-radius: 10px;
  font-style: italic;
}
.bubble-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.heading{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
}


@media(min-width:768px) {
  .bubble {
    max-width: 400px;
  }
  .bubble-wrapper{
    flex-direction: row;
  }
}

article:nth-child(even) .bubble:after {
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid var(--svetlaModra);
  border-bottom: 10px solid var(--svetlaModra);
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: 90px;
}

article:nth-child(odd) .bubble:after {
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid var(--svetlaModra);
  border-bottom: 10px solid var(--svetlaModra);
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -90px;
}

/* kontakty */

.kontakty-box {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 0px;
  margin-top: 0px;
}

main h1 {
  text-align: center;
  padding: 28px;
  margin: 0px;
}

main h2 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

main h3 {
  text-align: center;
  color: var(--tyrkys);
  padding-top: 5px;
  margin: 0px;
}

/* co delame */

.text {
  padding: 15px;
}

/* vetsi mobily */

@media(min-width:550px) {}

/* tablety */

@media(min-width:768px) {}

/* pc */