@import "../colors.css";

header {
  background-color: var(--karmin);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 5px;
}

.header-left{
  width: 40%;
}

.header-center{
  width: 20%;
}

.header-right{
  width: 40%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#logo{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  max-width: 90px;
  height: auto;
}

#logo svg{
  width: 100%;
  height: auto;
}


