.nav-desktop{
  display: none;
}

.nav-mobile{
  align-self: center;
}

.open-slide svg{
  vertical-align: middle;
  line-height: 60px;
}

.menu-name{
  padding-left: 10px;
  vertical-align: middle;
  line-height: 60px;
}
